<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>uniqueId</key>
	<string>1</string>
	<key>name</key>
	<string>Glorietta</string>
	<key>maps</key>
	<array>
		<dict>
			<key>mapNumber</key>
			<string>1</string>
			<key>Nodes</key>
			<array>
				<dict>
					<key>id</key>
					<integer>0</integer>
					<key>name</key>
					<string>Levi&apos;s</string>
					<key>coor</key>
					<string>{318,761}</string>
				</dict>
				<dict>
					<key>id</key>
					<integer>1</integer>
					<key>name</key>
					<string>Giordano</string>
					<key>coor</key>
					<string>{320,683}</string>
				</dict>
				<dict>
					<key>id</key>
					<integer>2</integer>
					<key>name</key>
					<string>Meridian</string>
					<key>coor</key>
					<string>{333,619}</string>
				</dict>
				<dict>
					<key>id</key>
					<integer>3</integer>
					<key>name</key>
					<string>CMG</string>
					<key>coor</key>
					<string>{336,592}</string>
				</dict>
				<dict>
					<key>id</key>
					<integer>4</integer>
					<key>name</key>
					<string>All Flip Flops</string>
					<key>coor</key>
					<string>{341,566}</string>
				</dict>
				<dict>
					<key>id</key>
					<integer>5</integer>
					<key>name</key>
					<string>Accessorize</string>
					<key>coor</key>
					<string>{366,552}</string>
				</dict>
				<dict>
					<key>id</key>
					<integer>6</integer>
					<key>name</key>
					<string>Call It Spring</string>
					<key>coor</key>
					<string>{375,540}</string>
				</dict>
				<dict>
					<key>id</key>
					<integer>7</integer>
					<key>name</key>
					<string>Rockport</string>
					<key>coor</key>
					<string>{382,519}</string>
				</dict>
				<dict>
					<key>id</key>
					<integer>8</integer>
					<key>name</key>
					<string>Samsonite</string>
					<key>coor</key>
					<string>{395,490}</string>
				</dict>
				<dict>
					<key>id</key>
					<integer>9</integer>
					<key>name</key>
					<string>Hot Flops</string>
					<key>coor</key>
					<string>{414,464}</string>
				</dict>
				<dict>
					<key>id</key>
					<integer>10</integer>
					<key>name</key>
					<string>Color Stone</string>
					<key>coor</key>
					<string>{451,493}</string>
				</dict>
				<dict>
					<key>id</key>
					<integer>11</integer>
					<key>name</key>
					<string>Samsung</string>
					<key>coor</key>
					<string>{432,539}</string>
				</dict>
			</array>
			<key>Edges</key>
			<array>
				<dict>
					<key>startId</key>
					<integer>0</integer>
					<key>endId</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>startId</key>
					<integer>1</integer>
					<key>endId</key>
					<integer>2</integer>
				</dict>
				<dict>
					<key>startId</key>
					<integer>2</integer>
					<key>endId</key>
					<integer>3</integer>
				</dict>
				<dict>
					<key>startId</key>
					<integer>3</integer>
					<key>endId</key>
					<integer>4</integer>
				</dict>
				<dict>
					<key>startId</key>
					<integer>4</integer>
					<key>endId</key>
					<integer>5</integer>
				</dict>
				<dict>
					<key>startId</key>
					<integer>5</integer>
					<key>endId</key>
					<integer>6</integer>
				</dict>
				<dict>
					<key>startId</key>
					<integer>6</integer>
					<key>endId</key>
					<integer>7</integer>
				</dict>
				<dict>
					<key>startId</key>
					<integer>7</integer>
					<key>endId</key>
					<integer>8</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>mapNumber</key>
			<string>2</string>
			<key>Nodes</key>
			<array>
				<dict>
					<key>id</key>
					<integer>23</integer>
					<key>name</key>
					<string>2nd Level</string>
					<key>coor</key>
					<string>{432,539}</string>
				</dict>
			</array>
			<key>Edges</key>
			<array/>
		</dict>
	</array>
</dict>
</plist>
